<nav class="site-menu" data-menu>
  <ul>
    {{ nav:main_nav }}
      <li>
        <a 
          href="{{ url }}" 
          class="{{ if is_parent }}is-active{{ /if }} {{ if is_current }}is-current{{ /if }}" 
          {{ if is_external }} target="_blank" {{ /if }}
          data-menu-parent-item>
          {{ title }}
          {{ partial:icons/chevron-down class="ml-8" }}
        </a>
        {{ if children }}
          <ul class="is-hidden md:min-w-[175px]" data-menu-child-item>
            {{ children }}
            <li>
              <a 
                href="{{if url | starts_with('#') }} {{ parent.url }}{{ url }} {{ else }} {{ url }} {{ /if }}"
                {{ if is_external }} target="_blank" {{ /if }}>
                {{ title }}
                {{ partial:icons/chevron-right class="ml-8 mt-4 md:hidden" }}
              </a>
            </li>
            {{ /children }}
          </ul>
        {{ /if }}
      </li>
    {{ /nav:main_nav }}
  </ul>
</nav>