<section class="{{ if background_color }} theme-{{ background_color }} {{ /if }} py-72 xl:py-108">
  <div class="container">
    {{ if title }}
      <h2 class="text-xl mb-32">{{ title }}</h2>
    {{ /if }}
    <div class="mb-36 xl:mb-56">
      {{ text }}
    </div>
    <div class="mb-18 sm:mb-24">
      <select data-categories class="bg-transparent !ring-0 border !border-graphite ">
        <option value="all">Alle</option>
        {{ taxonomy:categories }}
          <option value="{{ slug }}">{{ title }}</option>
        {{ /taxonomy:categories }}
      </select>
      <a 
        href="javascript:;"
        class="font-regular text-xxs lg:text-xs !text-graphite bg-transparent inline-flex ml-18 underline hover:no-underline items-center leading-none w-auto !px-0 lg:py-12 !is-hidden"
        data-reset-btn>
        Filter Zurücksetzen
      </a>
    </div>

    <div class="sm:grid sm:grid-cols-12 sm:gap-18">
      {{ collection:team sort="name" }}
        {{ partial:components/team/card }}
      {{ /collection:team }}
    </div>
  </div>
</section>