<footer class="site-footer {{ if is_homepage }} mt-36 lg:mt-72 xl:mt-108 {{ /if }}">
  <div>
    <div class="md:grid md:grid-cols-12 md:gap-24">
      
      <div class="md:col-span-4">
        <h3 class="font-black mb-32">Kontakt</h3>
        <ul>
          {{ if contact_information:email }}
          <li>
            <a href="mailto:{{contact_information:email}}" target="_blank" title="Senden Sie uns eine E-Mail">
              {{ contact_information:email }}
            </a>
          </li>
          {{ /if }}
          {{ if contact_information:phone }}
            <li>
              <a href="tel:{{ contact_information:phone }}" target="_blank" title="Rufen Sie uns an">
                {{ contact_information:phone }}              
              </a>
            </li>
          {{ /if }}
        </ul>
      </div>

      <div class="md:col-span-4">
        <h3 class="font-black mb-32 mt-72 md:mt-0">Informieren</h3>
        <ul>
          {{ nav:info_nav }}
            <li class="flex">
              {{ partial:icons/arrow-right class="mr-12 text-white" }}
              <a href="{{ url }}" title="{{ title }}" {{ if is_external }} target="_blank" {{ /if }} class="py-4">
                {{ title }}
              </a>
            </li>
          {{ /nav:info_nav }}
        </ul>
      </div>

      <div class="md:col-span-4">
        <h3 class="font-black mb-32 mt-72 md:mt-0">Privatsphäre</h3>
        <ul>
          {{ nav:privacy_nav }}
            <li class="flex">
              {{ partial:icons/arrow-right class="mr-12 text-white" }}
              <a href="{{ url }}" title="{{ title }}" {{ if is_external }} target="_blank" {{ /if }} class="py-4">
                {{ title }}
              </a>
            </li>
          {{ /nav:privacy_nav }}
        </ul>
      </div>

      <div class="mt-32 md:col-span-12">
        <div>&copy; {{ date iso_format="YYYY" }} alphacare. Alle Rechte vorbehalten.</div>
      </div>
      
    </div>
  </div>
</footer>