/* * {
  background: rgb(0 100 0 / 0.05) !important;
} */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col min-h-screen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1;
}

.container {
  @apply max-w-[1404px] w-full 2xl:mx-auto px-27 2xl:px-48;
}