html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col min-h-screen text-sm font-regular text-graphite leading-7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply flex-1 pb-72;
}

.container {
  @apply max-w-[1200px] w-full 2xl:mx-auto px-36 2xl:px-48;
}