<section class="{{ if background_color }} theme-{{ background_color }} {{ /if }} py-72 xl:py-108">
  <div class="container">
    <article>
      {{ text }}
        <div class="text-md leading-8">
          {{ text }}
        </div>

        {{ if type == 'collapsibles' }}
          <div class="mt-36 xl:mt-72">
            {{ if title }}
              <h3 class="text-lg mb-32">{{ title }}</h3>
            {{ /if }}
            {{ collapsible }}
              {{ partial:components/collapsible }}
            {{ /collapsible }}
          </div>
        {{ /if }}

        {{ if type == 'text_image' }}
          {{ partial:components/text_image }}
        {{ /if }}

      {{ /text }}

    </article>
  </div>
</section>