{{ if type == 'collapsible' }}
  {{ partial:components/collapsible }}
{{ /if }}

{{ if type == 'masthead' }}
  {{ partial:components/masthead }}
{{ /if }}

{{ if type == 'banner' }}
  {{ partial:components/banner }}
{{ /if }}

{{ if type == 'anchor' }}
  {{ partial:components/anchor }}
{{ /if }}

{{ if type == 'panel' }}
  {{ partial:components/panel }}
{{ /if }}

{{ if type == 'cards' }}
  {{ partial:components/cards }}
{{ /if }}

{{ if type == 'text' }}
  {{ partial:components/text_only }}
{{ /if }}

{{ if type == 'text_image' }}
  {{ partial:components/text_image }}
{{ /if }}

{{ if type == 'collapsibles' }}
  {{ partial:components/collapsibles }}
{{ /if }}