{{ if link_type == 'button' }}
  <a 
    href="{{ link }}" 
    target="{{ link_target }}"
    class="group btn-primary">
    {{ link_text }}
    {{ if link_icon != 'null' }}
      {{ partial:icons/{{link_icon}} class="ml-12 mt-2 text-white group-hover:text-graphite group-hover:translate-x-2 transition-all" }}
    {{ /if }}
  </a>
{{ /if }}

{{ if link_type == 'text' }}
  <a href="{{ link }}" class="text-azure hover:text-azure-dark hover:underline underline-offset-4 transition-all inline-flex group">
    {{ link_text }}
    {{ if link_icon != 'null' }}
      {{ partial:icons/{{link_icon}} class="ml-8 group-hover:translate-y-2 transition-all" }}
    {{ /if }}
  </a>
{{ /if }}
