{{ if full_width }}
  <section class="{{ if background_color }} theme-{{ background_color }} {{ /if }} py-72 xl:py-108 {{ if background_color && background_color != 'white' }} mt-72 xl:mt-108 {{ /if }}">
    <div class="container lg:grid lg:grid-cols-2 lg:gap-60 xl:gap-72 {{ class }}">
      {{ if image }}
        <figure class="lg:col-span-1 mb-32 lg:mb-0 {{ if order == 'text-image'}} lg:order-2 {{ /if }}">
          {{ partial:components/image :image="image" :width="'1200'" :height="'675'" :caption="image:alt" class="aspect-16/9 object-cover" }}
        </figure>
      {{ /if }}
      {{ if text }}
        <div class="lg:col-span-1 text-base leading-8 flex flex-col justify-center {{ if order == 'text-image'}} lg:order-1 {{ /if }}">
          <h3 class="text-lg leading-8 mb-18 lg:text-xl">{{ title }}</h3>
          {{ text }}
          {{ if link }}
            <div class="mt-32 lg:mt-48">
              {{ partial:components/link }}
            </div>
          {{ /if }}
        </div>
      {{ /if }}
    </div>
  </section>
{{ else }}
  <section class="container mt-72 xl:mt-108">
    <div class="lg:grid lg:grid-cols-2 lg:gap-60 xl:gap-72 {{ class }}">
      {{ if image }}
        <figure class="lg:col-span-1 mb-32 lg:mb-0 {{ if order == 'text-image'}} lg:order-2 {{ /if }}">
          {{ partial:components/image :image="image" :width="'1200'" :height="'900'" :caption="image:alt" class="aspect-4/3" }}
        </figure>
      {{ /if }}
      {{ if text }}
        <div class="lg:col-span-1 text-md leading-8 flex flex-col justify-center {{ if order == 'text-image'}} lg:order-1 {{ /if }}">
          <h2 class="text-xl lg:text-2xl mb-36">{{ title }}</h2>
          {{ text }}
          {{ if link }}
            <div class="mt-32 lg:mt-48">
              {{ partial:components/link }}
            </div>
          {{ /if }}
        </div>
      {{ /if }}
    </div>
  </section>
{{ /if }}